# The versions here aren't anything special, they just happened to
# work on one machine.

attrs~=25.0
cffi~=1.17
hypothesis~=6.100
pytest~=8.0
pytest-forked~=1.6
pytest-xdist~=3.5
pycryptodome~=3.20

# Development helpers
black~=24.0
